<ion-view view-title="add">
    <ion-content>



        <div id="corps">
            <div class="list list-inset">



                <h1>Game of thrones</h1> <!-- A remplacer par {{ name }} plus tard-->


                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input class="big" type="text" placeholder="Ecrivez votre spoil...">
                </label>

                <button class="button button-full button-positive">
                    Envoyez
                </button>



            </div>
        </div>



    </ion-content>
</ion-view>