<ion-view view-title="Spoils Jeux">
	<ion-header-bar class="bar-assertive" style="">
        <h1 class="title">Spoils Jeux</h1>
    </ion-header-bar>

	<ion-content>

		<div id="top">

			<img id="logo" src="img/logo.png">

			<h4><strong>ShareTheSpoil</strong></h4>

			<div class="list">

				<div class="item item-input-inset">
					<label class="item-input-wrapper"><i class="icon ion-ios-search placeholder-icon"></i>

						<input type="text" placeholder="search">
					</label>
				</div>

			</div>

			


		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/u.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE JEUX)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/u.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE JEUX)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/u.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE JEUX)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/u.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE JEUX)</p>

			</div>
		</div>	

		<h2>héhéhé easter-egg :D</h2>	 

	</ion-content>

	<div class="tabs assertive">
        <a class="tab-item light" ui-sref="film">
            Films
        </a>
        <a class="tab-item light" ui-sref="serie">
            Séries
        </a>
        <a class="tab-item light" ui-sref="liste">
    		<i class="icon ion-home"></i>
  		</a>
        <a class="tab-item light" ui-sref="livre">
            Livres
        </a>
        <a class="tab-item" ui-sref="jeux">
            Jeux
        </a>
    </div>

</ion-view>

