<ion-view view-title="liste">
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Accueil</h1>
    </ion-header-bar>

    <ion-content ng-controller="ListCtrl">

    <div id="top">

			<img id="logo" ng-src="img/logo.png">

			<h4><strong>ShareTheSpoil</strong></h4>

			<div id="pict">

				<div class="plus">

					<button class="button button-icon ion-plus" ng-click="addItem()"></button>

				</div>

			</div>

			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search">
			  </label>
			</div>

		</div>


		<h3 id="titre_liste">COMMUNITY'S SPOILS</h3>


			<ion-list>
				<h1 class="title">Items</h1>
				<ion-item ng-repeat="item in items" ng-class="{purchased: item.status == 'purchased'}">
					{{item.name}}
					<ion-option-button class="button-royal" ng-click="purchaseItem(item)">
						<i class="icon ion-checkmark"></i>
					</ion-option-button>
				</ion-item>
			</ion-list>








    </ion-content>

    <div class="tabs assertive">
        <a class="tab-item light" ui-sref="film">
            Films
        </a>
        <a class="tab-item light" ui-sref="serie">
            Séries
        </a>
        <a class="tab-item" ui-sref="liste">
    		<i class="icon ion-home"></i>
  		</a>
        <a class="tab-item light" ui-sref="livre">
            Livres
        </a>
        <a class="tab-item light" ui-sref="jeux">
            Jeux
        </a>
    </div>
</ion-view>