<ion-view view-title="liste">
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Accueil</h1>
    </ion-header-bar>

    <ion-content>

    <div id="top">

			<img id="logo" src="img/logo.png">

			<h4><strong>ShareTheSpoil</strong></h4>

			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search">
			  </label>
			</div>

			
			

		</div>

		<!-- <div class="list">

		    <a class="item item-thumbnail-left" href="#">
		      <img src="../img/hp7.jpg">
		      <h2>{{ Titre sujet }}</h2>
		      <p>{{ Le Spoil }}</p>
		    </a>

		    ...

		</div> -->

   <!--<p id="test">LISTE</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

		<h3 id="titre_liste">LES SPOILS LES + POPULAIRES</h3>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/xmen.png">

			</div>

			<div class="coldeux">

				<h4>#GameOfThrones S06</h4>

				<p>Jon Snow ressucite !!</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/xmen.png">

			</div>

			<div class="coldeux">

				<h4>#TWD S06</h4>

				<p>Negan tue quelqu'un !</p>

			</div>
		</div>
 

    </ion-content>

    <div class="tabs assertive">
        <a class="tab-item" ui-sref="film">
            Films
        </a>
        <a class="tab-item" ui-sref="serie">
            Séries
        </a>
        <a class="tab-item" ui-sref="liste">
    		<i class="icon ion-home"></i>
  		</a>
        <a class="tab-item" ui-sref="livre">
            Livres
        </a>
        <a class="tab-item" ui-sref="jeux">
            Jeux
        </a>
    </div>
</ion-view>