<ion-view view-title="Spoils Séries">	
	<ion-header-bar class="bar-assertive" style="">
        <h1 class="title">Spoils Séries</h1>
    </ion-header-bar>

	<ion-content>



		<div id="top">

			<img id="logo" src="img/logo.png">

			<h4><strong>ShareTheSpoil</strong></h4>

			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search">
			  </label>
			</div>

			


		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/got.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE SERIE)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/got.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE SERIE)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/got.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE SERIE)</p>

			</div>
		</div>

		<div id="afficher">
			<hr>

			<div class="colun">

				<img src="../img/got.jpg">

			</div>

			<div class="coldeux">

				<p>Accéder aux Spoils de (TITRE SERIE)</p>

			</div>
		</div>		 

		<h2>héhéhé easter-egg :D</h2>

	</ion-content>

	<div class="tabs assertive">
        <a class="tab-item" ui-sref="film">
            Films
        </a>
        <a class="tab-item" ui-sref="serie">
            Séries
        </a>
        <a class="tab-item" ui-sref="liste">
    		<i class="icon ion-home"></i>
  		</a>
        <a class="tab-item" ui-sref="livre">
            Livres
        </a>
        <a class="tab-item" ui-sref="jeux">
            Jeux
        </a>
    </div>
</ion-view>