<ion-view view-title="Spoil !!">
	<ion-header-bar class="bar-assertive">
        <h1 class="title">Spoil !!</h1>
    </ion-header-bar>

	<ion-content>



		<div id="top">



			<img id="logo" ng-src="img/logo.png">

			<h4><strong>ShareTheSpoil</strong></h4>	


		</div>

		
		

		<div id="contenu">

			<button class="button button-small button-assertive">
			  SPOILER ALERT !
			</button>

			<div class="lespoil">

				<p>Jon Snow ressucite dans l'épisode 2 de la saison 6</p>

				<div class="rs">

					<img ng-src="img/telegram.png">
					<img ng-src="img/facebook.png">
					<img ng-src="img/twitter.png">

				</div>

			</div>

		</div>

			 

	</ion-content>

	<div class="tabs assertive">
        <a class="tab-item " ui-sref="film">
            Films
        </a>
        <a class="tab-item light" ui-sref="serie">
            Séries
        </a>
        <a class="tab-item light" ui-sref="liste">
    		<i class="icon ion-home"></i>
  		</a>
        <a class="tab-item light" ui-sref="livre">
            Livres
        </a>
        <a class="tab-item light" ui-sref="jeux">
            Jeux
        </a>
    </div>


</ion-view>