/* Empty. Add your own CSS if you like */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,900,900italic,400italic,300italic,100italic,100);


#top {
	margin-top: 2%;
}

#top h4 {
	color: red;
	text-align: center;
	margin-top: -1%;
}

#logo {
	margin-left: 39%;
	height: 80px;
}

#test {
	font-family: Arial;
	color: red;
}

#afficher {
	width: 100%;
	height: 100px;
}

#afficher hr {
	width: 90%;
}

#afficher .colun {
	width: 38%;
	float: left;
	padding: 1px;
}

#afficher .colun img {
	width: 70%;
	margin-left: 18%;
}

#afficher .coldeux {
	width: 62%;
	float: left;
	padding: 1px;
}


h1{
    text-align: center;
    color: #f0312f;
    font-family: 'Lato:700', sans-serif;
    font-weight: 700;
}
.acceuil{
    margin-top: 10em;
    text-align: center;
}

.acceuil img{
    width: 40%;
}

.acceuil p{
    padding: 0em 3em;
    color:#18394e;
    font-family: 'Lato', sans-serif;
}

.button-consentir{
    background-color: #18394e;
    color: #fff;
    padding: 0em 3em;
    text-transform: uppercase;
    border-radius: 15px !important;
}


#titre_liste {
	text-align: center;
	font-size: 1.4em;
}

.tabs{
	background-color: #18394e!important;
	font-family: 'Lato', sans-serif;
}

.item{
	border-width: 0px!important;
}

#pict {
	width: 100%;
}

#pict .plus {
	border-radius: 50px;
	height: 40px;
	width: 40px;
	background-color: red;
	text-align: center;
	position: absolute;
	margin-left: 83%;
	z-index: +10;
}

#pict .plus h2 {
	color: white;
}

#pict img {
	margin: 0% 20%;
	width: 60%;
}

#contenu {
	padding: 2% 2%;
}

#contenu .lespoil {
	margin-top: 2%;
	padding: 2% 3%;
	text-align: justify;
	border-left: 2px solid red;
}

#contenu .lespoil .rs img {
	height: 40px;
	margin-left: 2%; 
}

.top {
	background-color: #009688;
}

.title {
	color: white;
}

.icon {
	color: white;
}

.purchased {
	color: #9E9E9E;
	text-decoration: line-through;
}

